body {
   background-color: #323232;
   font-family: "Open Sans", sans-serif;
}

h1 {
   margin-bottom: 20px;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
   margin-top: 20px;
}

td {
   width: 100px;
   height: 100px;
   text-align: center;
   vertical-align: middle;
   font-size: 24px;
   color: white;
}

td:hover {
   background-color: rgba(255, 255, 255, 0.3);
   cursor: pointer;
}

/* Nur innere Trennlinien */
tr:not(:last-child) td {
   border-bottom: 5px solid white; /* Horizontale Linien innerhalb */
}

td:not(:last-child) {
   border-right: 5px solid white; /* Vertikale Linien innerhalb */
}

.center {
   display: flex;
   justify-content: center;
   align-items: center;
}

.mt-32 {
   margin-top: 32px;
}

button {
   display: block;                              /* Block-Element, um zentrieren zu erleichtern */
   padding: 15px 30px;                          /* Vergrößert den Button durch Innenabstand */
   font-size: 18px;                             
   color: #fefefe;                            
   background-color: #00b0ef;                 
   border-color: #fefefe;                     
   border-radius: 8px;                          
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);  /* Schatten für einen 3D-Effekt */
   cursor: pointer;                             
   transition: all 0.3s ease;                   /* Glatte Übergänge bei Hover */
}

button:hover {
   background-color: #008cbe;                /* Etwas dunkleres Blau beim Überfahren */
   box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* Intensiverer Schatten beim Hover */
}

button:active {
   background-color: #006f98;                /* Noch dunkler beim Klicken */
   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* Reduzierter Schatten */
   transform: translateY(0);                   /* Button kehrt in ursprüngliche Position zurück */
}

.player-display {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;         
    font-size: 24px;             
    gap: 10px;                   /* Abstand zwischen Text und Symbol */
    height: 50px;
}

.player-display svg {
    width: 40px; /* Größe des SVGs */
    height: 40px;
}

.player-display.unentschieden {
    color: #ff0000; /* Rot für Unentschieden */
}
